#me {
    margin: auto;
    padding: 0.5rem;
}
#me h1 {
  padding: 1.5rem;
}
#me_content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#ap_bg {
  margin: 2rem 1rem;
}
.content {
    background-color: none;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    }
    
    .me_col {
    margin: 1rem;
    }

    #aboutme, #detailme {
      display: flex;
      flex-direction: row;
      justify-content: stretch;
      width: 100%;
    }
    #me_me, #me_contact, #detailme div:first-child, #dev_container{
      padding: 0.75rem;
      width: 100%;
      text-align: left;
    }
    #me_me h2, #me_contact h2, #detailme  h2 {
      padding-left: 1rem;
    }

    #detailme p {
      line-height: 1.5rem;
      font-size: 0.8rem;
    }
    #me_contact a {
      text-decoration: none;
      color: black;
      }
      
      #me_contact a:hover {
      color: #888;
      }

      #contact-info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
      }
      #contact-info a{
        width: 5rem;
        height: 5rem;
        border-radius: 15px;
        border: none;
      }
      .contact_opt {
        text-align: center;
      }
      .contact_opt a {
        text-align: center;
        
        display: block;
        padding: 0.25rem;
      }
      .contact_opt .icon:hover {
        animation: bounce 1s ease-in-out;
        -moz-animation: bounce 0.5s infinite linear;
        -o-animation: bounce 0.5s infinite linear;
        -webkit-animation: bounce 0.5s infinite linear;
      }
      .contact_opt:nth-child(1) a{
        background-color: black;
      }
      .contact_opt:nth-child(2) a{
        background-color: #0A66C2;
      }
      .contact_opt:last-child a{
        background-color: white;
      }

      
      @keyframes bounce {
        0% { transform: translateY(0); }
        50% { transform: translateY(-10px); }
        100% { transform: translateY(0); }
      }
      
      /* Dev Skills */
      #dev_container {
        
      }
      #dev_skills {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
      }
      
      .dev_skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 8px solid #08DB72;
        margin: 0.25rem;
        margin-bottom: 1rem;
        
      }
      :root {
        --charging: #08DB72;
        --uncharging: rgba(255, 255, 255, .5);
      }
      .dev_skill_25 {

        border-color: var(--charging)var(--uncharging)var(--uncharging) var(--uncharging);
      
      }
      .dev_skill_50 {

        border-color: var(--charging)var(--charging)var(--uncharging) var(--uncharging);
      
      }
      .dev_skill_75 {

        border-color: var(--charging)var(--charging)var(--charging) var(--uncharging);
      
      }
      
      .skill_name {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        margin-bottom: 0.5rem;
      }
      
      .skill_duration {
        font-size: 0.8rem;
        text-align: center;
      }

      @media screen and (max-width: 1024px) {
        #me_header {
          font-size: 2.5rem;
        }
        #me_me,
        #me_contact, #detailme div:first-child, #dev_container  {
          padding: 0.75rem;
        }
        #ap_bg {
          display: none;
        }
        #contact-info button{
          border-radius: 15px;
          border: none;
        }
      }
      
      @media screen and (max-width: 767px) {
        #me_header {
          font-size: 2rem;
          padding: 0.5rem;
        }
        #me_content {
          flex-direction: column;
          align-items: center;
        }
        .me_col {
          margin: 0.5rem;
        }
        #aboutme, #detailme {
          flex-direction: column;
          width: 90%;
        }
      }